{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% include 'main/mainNav.html.twig' %}
    <div class="container">
        {% for item in user.Annonces %}
            <div class="jumbotron margin-top">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-12">
                        {% if imgLi is defined %}
                            {% set flag = true %}
                            {% for img in imgLi %}
                                {% if img is not null and img.idannonce.idannonce == item.idannonce %}
                                    {% set imgvalue = "/uploads/"~img.PATH %}
                                    <img class="card-img-top" style="width:100%" src="{{ asset(imgvalue) }}">
                                    {% set flag = false %}
                                {% endif %}
                            {% endfor %}
                            {% if flag %}
                                <img style="width:100%" src="https://via.placeholder.com/150x100?text=pas d'image"
                                     class="card-img-bottom">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-12 mb-12">
                        <h2>{{ item.EnTeteAnnonce }}</h2>
                        <h4>{{ item.corpsAnnonce }}</h4>
                        <h5>Déposée le :{{ item.dateOnlineAnnonce | date('d/m/Y') }}</h5>
                        <h5>Cette annonce est en ligne jusqu'au {{ item.dateLimAnnonce | date('d/m/Y') }}</h5>
                        <a href="{{ path('annonceById',{'id':item.idAnnonce}) }}">Voir</a>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-12">
                        <form method="post" action="{{ path('profile_delete') }}" onsubmit="return validForm()">
                            <button style="width:150px" class="btn btn-danger"
                                    name='idAnnonce' value="{{ item.idAnnonce }}">Supprimer
                            </button>
                        </form>
                        <form method="post" action="{{ path('profile_modify') }}">
                            <button style="width:150px" class="btn btn-info"
                                    name="idAnnonce" value="{{ item.idAnnonce }}">Modifier
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
