{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {{ include(menu) }}
    <h3 style="text-align: center"> Modifier votre Annonce </h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-12">
                <form method="post" name="modify_annonce" enctype="multipart/form-data">
                    {{ form_row(form.IdRubrique) }}
                    {{ form_row(form.enTeteAnnonce) }}
                    {{ form_row(form.corpsAnnonce) }}
                    {{ form_row(form.dateOnlineAnnonce) }}
                    {{ form_row(form.dateLimAnnonce) }}
                    <input type="file" name="image[]" multiple>
                    <button style="width:50%; display:block; margin:auto " class="btn btn-success" name='idAnnonce'
                            value="{{ annonce.idAnnonce }}">Modifier
                    </button>
                    {{ form_end(form) }}
            </div>
            <div class="col-lg-6 col-md-12 mb-12">
                <div class="card grey">
                    <h4 style=" text-align:center">Images</h4>
                    {% if imgLi %}
                        {% for img in imgLi %}
                            {% set imgvalue = "/uploads/"~img.PATH %}
                            <img style="display:block; margin:auto; margin-top:1%;width:80%" class="card-img-top"
                                src="{{ asset(imgvalue) }}">
                            <form method="POST" action="{{ path('profile_delete_image') }}" onsubmit="return validForm()">
                                <button style="display:block; margin:auto" class="btn btn-danger margin-top"
                                    name='img' value={{ img.idImg }}>Supprimer
                                 </button>
                            </form>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

