{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'main/mainNav.html.twig' %}

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-12"></div>
        <div class="col-lg-4 col-md-12 mb-12">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    
            <h1>Connexion</h1>
            <label for="inputUsername">Identifiant</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label style="margin-top:3%" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control"  required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            <button class="btn btn-success" style="margin-top:3%; width:50%; display:block " type="submit">
                Connexion
            </button>
        </div>
        
    </div>  
</form>
<div class="col-lg-4 col-md-12 mb-12"></div>  
{% endblock %}
