{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% include 'main/mainNav.html.twig' %}
    
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-12"></div>
            <div class="col-lg-4 col-md-12 mb-12">
                <h1>S'inscrire</h1>
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button style="width:50%; display:block "class="btn btn-success">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="col-lg-4 col-md-12 mb-12"></div>  
        </div>  
{% endblock %}
