{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ include('main/mainNav.html.twig') }}
        <h3 style="text-align: center"> Déposer une Annonce </h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-12">
                    <form method="post" name="create_annonce" enctype="multipart/form-data">
                    
                    {{form_row(form.IdRubrique)}}
                    {{form_row(form.enTeteAnnonce)}}
                    {{form_row(form.corpsAnnonce)}}
                    {{form_row(form.dateOnlineAnnonce)}}
                    {{form_row(form.dateLimAnnonce)}}
                    <input type="file" name="image[]" multiple> 
                    <button style="width:50%; display:block; margin:auto "class="btn btn-success" type="submit">Publier</button>
                </div>

                {{ form_end(form) }}
        </div>
{% endblock %}