<div class="container" style=" margin-top:1%">
    {% for item in annonceLi %}
        {% if item.dateLimAnnonce|date('m-d-y') < "now"|date('m-d-y') %}
                {% else %}
                    <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-3 col-md-12 mb-12">
                    {% if imgLi is defined %}
                        {% set flag = true %}
                        {% for img in imgLi %}
                            {% if img is not null and img.idannonce.idannonce == item.idannonce %}
                            {% set imgvalue = "/uploads/"~img.PATH %}
                                <img class="card-img-top" style="width:100%" src="{{asset(imgvalue)}}">
                                {% set flag = false %}
                            {% endif %}
                        {% endfor %}
                        {% if flag %}
                            <img style="width:100%" src="https://via.placeholder.com/150x100?text=pas d'image" class="card-img-bottom">
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-12 mb-12">
                        <h2 >{{ item.enTeteAnnonce }}</h2>
                        <h4>{{ item.corpsAnnonce }}</h4>
                        <h5>Déposée le :{{ item.dateOnlineAnnonce | date('d/m/Y') }}</h5>
                        <h5>Cette annonce est en ligne jusqu'au {{item.dateLimAnnonce | date('d/m/Y')}}</h5>
                        <a href="{{ path('annonceById',{'id':item.idAnnonce}) }}">Voir</a>
                    </div>
                </div>    
            </div>
        {% endif %}
    {% endfor %}
</div>