{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    {% include 'main/mainNav.html.twig' %}
        <div class="container">
            <div class="jumbotron margin-top">
                <div class="row">
                    <div style="text-align:center" class="col-lg-12 col-md-12 mb-12">
                        {% if imgLi %}
                            {% set flag = true %}
                                <div id="carouselExampleIndicators" class="carousel slide card-img-top" data-ride="carousel" style="overflow: hidden">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    {% for img in imgLi %}
                                        {% if img %}
                                            <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %} ">
                                            {% set imgvalue = "/uploads/"~img.PATH %}
                                                <img class="d-block w-100 card-img-top" src="{{asset(imgvalue)}}" alt=""
                                                    style="max-height: 300px">
                                            </div>
                                        {% else %}
                                            <img src="" class=""
                                                alt="Pas d'image" style="max-height: 500px">
                                        {% endif %}
                                    {% endfor %}
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">  
                    <div class="col-lg-3 col-md-12 mb-12"></div>
                    <div class="col-lg-6 col-md-12 mb-12">
                        <h2>{{ annonce.enTeteAnnonce }}</h2>
                        <h4>{{ annonce.corpsAnnonce }}</h4>
                        <h5>Déposée le :{{ annonce.dateOnlineAnnonce | date('d/m/Y') }}</h5>
                        <h5>Cette annonce est en ligne jusqu'au {{annonce.dateLimAnnonce | date('d/m/Y')}}</h5>
                        <h5>Annonce vue {{annonce.compteur}} fois</h5>
                    </div> 
                    <div class="col-lg-3 col-md-12 mb-12"></div>
                </div>        
            </div>
        </div>
{% endblock %}   

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}