{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% include 'main/mainNav.html.twig' %}
        {{form_start(form)}}
        <section class="search-sec top-space">
            <div class="container" >
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        {{form_widget(form.categories)}}
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                        <button class="btn btn-success margin-top">OK</button>
                    </div>	
                </div>
            </div>
        </section>
        {{form_end(form)}}
    {% include 'main/affAnnonce.html.twig' %}

{% endblock %}
