{% block mainNav %}
    {% set usertrue = false %}
    {% set admin = false %}
    {% if is_granted('ROLE_USER') %}
        {% set usertrue = true %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set admin = true %}
    {% endif %}

    {% set tab=[
        ['Accueil',path('main'),true],
        ["Nouvelle Annonce",path('newAnnonce'),usertrue],
        ['Gestion Admin',path('admin'),admin],
        ['Espace Membre',path('profile'),usertrue],
        ['Déconnexion',path('app_logout'),usertrue],
        ['Connexion',path('app_login'),not usertrue],
        ['S\'inscrire',path('app_register'),not usertrue],
    ] %}

    <nav class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for item in tab %}
                    {% if item[2] == true %}
                        <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

{% endblock %}