{% block navAdmin %}
    {% set tab = [
        ['Admin Pannel', path('admin')],
        ['Accueil',path('main')],
        ['Rubrique', path('admin_rubrique')],
        ['Annonce',path('admin_annonce')],
        ['User',path('admin_user')]
        ] %}
    <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
             {% for item in tab  %}
                <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
            {% endfor %}
      </ul>
  </div>
</nav>
{% endblock %}