{% extends 'base.html.twig' %}

{% block title %}Hello AdminAnnonceController!{% endblock %}

{% block body %}

    <div>
        {% include 'admin/navAdmin.html.twig' %}
         <div class="container">
             <form action="{{ path('admin_annonce_outdated') }}" onsubmit="return validForm()">
             <button class="btn btn-danger" >Delete Perimée</button>
             </form>
        {% for item in annonceLi %}
            <div class="jumbotron" style="margin-top:1%">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-12">
                        {% if imgLi %}
                        {% set flag = true %}
                            {% for img in imgLi %}
                                {% if img is not null and img.idannonce.idannonce == item.idannonce %}
                                {% set imgvalue = "/uploads/"~img.PATH %}
                                    <img class="card-img-top" style="width:100%" src="{{asset(imgvalue)}}">
                                    {% set flag = false %}
                                {% endif %}
                            {% endfor %}
                            {% if flag %}
                                <img style="width:100%" src="https://via.placeholder.com/150x100?text=pas d'image" class="card-img-bottom">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-12 mb-12">
                        <h2>{{ item.EnTeteAnnonce }}</h2>
                        <h4>{{ item.corpsAnnonce }}</h4>
                        <h5>Déposée le :{{ item.dateOnlineAnnonce | date('d/m/Y') }}</h5>
                        <h5>Cette annonce est en ligne jusqu'au {{item.dateLimAnnonce | date('d/m/Y')}}</h5>
                        <a href="{{ path('annonceById',{'id':item.idAnnonce}) }}">Voir</a>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-12">
                        <form method="post" action="{{ path('admin_annonce_delete') }}" onsubmit="return validForm()">
                            <button style="width:150px" class="btn btn-danger" 
                            name="idAnnonce" value="{{ item.idAnnonce }}" >Supprimer</button>
                        </form>
                        <form method="post" action="{{ path('admin_annonce_modify') }}">
                            <button style="width:150px" class="btn btn-info" 
                            name="idAnnonce" value="{{ item.idAnnonce }}" >Modifier</button>
                        </form>
                    </div>
                </div>
            </div>    
        {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

