{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% include 'admin/navAdmin.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-12"></div>
            <div class="col-lg-4 col-md-12 mb-12">
                    <h3>Modifier la rubrique {{ rub.getLibelleRubrique }}</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button style="width:50%; display:block; margin:auto "class="btn btn-success" name="idrub" value="{{ rub.getIdRubrique }}">Modifier</button>
                    {{ form_end(form) }}
            </div>
            <div class="col-lg-4 col-md-12 mb-12"></div>
        </div>
    </div>
{% endblock %}