{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% include 'admin/navAdmin.html.twig' %}
    <div class="container">
        <div class="col-lg-4 col-md-12 mb-12"></div>
        <div class="col-lg-4 col-md-12 mb-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success" style="width:49%" type="submit" name="insert">Créer une sous-rubrique</button>
            <button class="btn btn-success" style="width:49%" type="submit" name="add" >Ajouter une rubrique</button>
            </form>
            {{ form_end(form) }}
        </div>
        <div class="col-lg-4 col-md-12 mb-12"></div>
    </div>

    <div class="container" >
        {% for item in RubriqueLi %}
            <div class="jumbotron margin-top" style="padding-top:10px; padding-bottom:10px; margin-top:10px">
                <div class="row">
                    <div class="col-lg-5 col-md-12 mb-12">
                        <h2>{{ item.getLibelleRubrique }}</h2>
                        <a href="{{ path('annonceByRubriqueId',{'id':item.getIdRubrique}) }}">Voir les annonces</a>
                    </div>    
                    <div class="col-lg-4 col-md-12 mb-12">
                        <p>Nombre total d'annonce : {{ CountAnn[item.IdRubrique] }}</p>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-12">
                        <form method="post" action="{{ path('admin_rubrique_modify') }}">
                            <button class="btn btn-info" style="width:150px" type="submit"  name="idrub" value="{{ item.idRubrique }}" >Modifier</button>
                        </form>
                        <form method="post" action="{{ path('admin_rubrique_delete') }}" onsubmit="return validForm()">
                            <button class="btn btn-danger" style="width:150px" type="submit" name="idrub" value="{{ item.idRubrique }}" >Supprimer</button>
                        </form>
                    </div>    
                </div>    
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
