{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% include 'admin/navAdmin.html.twig' %}

    <div class="container">
        {% for item in userLi %}
            <div class="jumbotron margin-top" style="padding-top:10px; padding-bottom:10px; margin-top:10px">
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-12">
                        <p> {{ item.username }} </p>
                    </div>
                    <div class="col-lg-5 col-md-12 mb-12">
                        {% for value in item.roles %}
                            {{ value }}
                        {% endfor %}
                    </div>
                    <div class="col-lg-3 col-md-12 mb-12">
                        <form method="post">
                            <button class="btn btn-info" value="{{ item.id }}" name="user"
                                    formaction="{{ path('admin_user_modify') }}">Modifier
                            </button>
                        </form>
                        <form method="post" action="{{ path('admin_user_delete') }}" onsubmit="return validForm()">
                            <button class="btn btn-danger" value="{{ item.id }}" name="user">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

