{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% include 'admin/navAdmin.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-12"></div>
            <div class="col-lg-4 col-md-12 mb-12">
                <h3 style="text-align:center; display:block" >Modifier le role de {{ user.Username }}</h3>
                <form method="post">
                    <div class="form-group">
                        <select name="role" class="form-control" style="margin-bottom:3%">
                        {% for key,item in role  %}
                            <option>{{ key }}</option>
                        {% endfor %}
                    </select>
                    <button style="width:50%; display:block; margin:auto "class="btn btn-success" name="user" value="{{ user.Id }}">Modifier</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-12 mb-12"></div>
        </div>
    </div>
{% endblock %}